# Começando com o Dataset de Classificação: Iris

## Importar bibliotecas e carregar o dataset:

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import datasets

# Carregando o dataset Iris
iris = datasets.load_iris()
df_iris = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df_iris['species'] = iris.target

# Mostrando as primeiras linhas
df_iris

## Visualização inicial dos dados:

In [2]:
# Pairplot para visualizar as distribuições e relações entre os atributos
sns.pairplot(df_iris, hue='species')
plt.show()

# Dataset de Regressão: Red Wine Quality

Dataset disponivel em: https://www.kaggle.com/datasets/uciml/red-wine-quality-cortez-et-al-2009/

## Importação das bibliotecas e carregamento do dataset
É necessario fazer o download do dataset do link fornecido e salvar o arquivo como winequality-red.csv em seu diretório atual.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Carregando o dataset Wine Quality
df_wine = pd.read_csv('winequality-red.csv')

# Mostrando o valor máximo e mínimo da coluna 'quality' no DataFrame Wine Quality
max_quality = df_wine['quality'].max()
min_quality = df_wine['quality'].min()
print("\nMaior valor da coluna 'quality':", max_quality)
print("Menor valor da coluna 'quality':", min_quality)

# Mostrando as primeiras linhas
df_wine.head()

Maior valor da coluna 'quality': 8
Menor valor da coluna 'quality': 3

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Estatísticas básicas:

In [ ]:
# Resumo estatístico
df_wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

## Verificar valores ausentes:

A ideia aqui é verificar a integridade do dataset antes de prosseguirmos, uma vez que foi um dataset escolhido ao acaso da internet.

In [ ]:
df_wine.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

Dataset esta integro, podemos prosseguir

## Dividir os Dados em Treino, Validação e Teste:
Isso nos permite avaliar a performance do modelo em dados nunca vistos e ajustar o modelo conforme necessário.

In [2]:
from sklearn.model_selection import train_test_split

X = df_wine.drop('quality', axis=1)
y = df_wine['quality']

# Dividindo em treino (80%) e teste (20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Dividindo os dados de treino em treino (80%) e validação (20%)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

## Normalização:

A normalização garante que todas as características tenham a mesma escala, o que pode acelerar o treinamento e melhorar a performance do modelo.

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# Ajuste e transformação dos dados de treino
X_train_scaled = scaler.fit_transform(X_train)

# Transformação dos dados de validação e teste (usando a mesma escala dos dados de treino)
X_val_scaled = scaler.transform(X_val)
X_test_scaled = scaler.transform(X_test)
print("Dados de treino normalizados")
print(X_train_scaled)

Dados de treino normalizados
[[-0.36458197  0.27028307 -0.88452628 ... -1.50331912 -0.96231644
  -0.61284241]
 [ 2.08646306 -0.82422292  1.09972703 ... -0.98778743 -0.29662295
  -0.13057021]
 [ 0.86094055 -0.16751933  1.09972703 ... -0.02116552  0.70191728
   0.25524755]
 ...
 [ 2.611687   -1.26202532  2.37168427 ... -0.73002159  0.59096836
   0.35170199]
 [-0.4812984   0.84489871 -1.03716115 ...  0.4299247  -0.6294697
   0.44815643]
 [-1.06488055  0.46182161 -1.39330918 ...  0.94545638 -0.07472512
  -1.19156904]]

## Construção da MLP para o Dataset Wine Quality
### Importar as bibliotecas necessárias

In [8]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import SGD

### Definição da Arquitetura da MLP

In [3]:
def build_mlp(input_dim, layers, output_dim, output_activation):
    """
    Constrói uma MLP com a arquitetura especificada.

    Parâmetros:
    - input_dim: Dimensão do vetor de entrada.
    - layers: Lista com o número de neurônios em cada camada oculta.
    - output_dim: Número de neurônios na camada de saída.
    - output_activation: Função de ativação da camada de saída.
    
    Retorna:
    - Modelo da MLP construída.
    """

    model = Sequential()
    
    # Adicionando a primeira camada oculta e definindo a camada de entrada
    model.add(Dense(layers[0], activation='relu', input_dim=input_dim))
    
    # Adicionando camadas ocultas adicionais (se houver)
    for neurons in layers[1:]:
        model.add(Dense(neurons, activation='relu'))
    
    # Adicionando camada de saída
    model.add(Dense(output_dim, activation=output_activation))
    
    return model

### Construção e Compilação da MLP

In [4]:
# Parâmetros
input_dim = X_train_scaled.shape[1]  # Número de características
layers = [64, 32, 16, 8]  # Exemplo de topologia com 4 camadas ocultas
output_dim = 1  # Problema de regressão
output_activation = 'linear'

# Construir e compilar o modelo
model = build_mlp(input_dim, layers, output_dim, output_activation)
model.compile(optimizer=SGD(), loss='mean_squared_error', metrics=['mean_absolute_error'])

NameError: name 'X_train_scaled' is not defined

### Treinamento da MLP:

Qual melhor numero de epocas? Testar diferentes variaçoes...

In [ ]:
history = model.fit(X_train_scaled, y_train, validation_data=(X_val_scaled, y_val), epochs=100, batch_size=32)

### Avaliação do Modelo:

In [12]:
loss, mae = model.evaluate(X_test_scaled, y_test)
print(f"Perda no conjunto de teste: {loss:.4f}")
print(f"Erro absoluto médio no conjunto de teste: {mae:.4f}")

10/10 [==============================] - 0s 1ms/step - loss: 0.5396 - mean_absolute_error: 0.5464
Perda no conjunto de teste: 0.5396
Erro absoluto médio no conjunto de teste: 0.5464